:host(){
    --beig :#f9ba49;
    --blue :#0b2451;
    --font-16:16px;
    --font-12:12px;
    --font-24:24px;


}
.currency-app{
    background: url(/sfsites/c/resource/currencyConverterAssets/currencyConverterAssets/currencyAppBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.custom-icon{
    --slds-c-icon-color-foreground-default:var(--beig);
    --slds-c-icon-color-background :var(--beig);
    --slds-c-icon-color-foreground:var(--blue);
    transform: rotate(45deg);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--font-16);
}
.custom-card{
    max-width: 520px;
    background: var(--blue);
    border-radius: 25px;
    min-width: 380px;
    padding: var(--font-16);
}
.custom-button, .custom-button:hover , .custom-button:active{
    background-color:var(--beig);
    padding: var(--font-12);
    font-size: var(--font-24);
    margin-top: var(--font-12);
    color: var(--blue);
}
.baseline{
    align-items: baseline;
}
img{
    display: block;
    margin: auto;
}
